<script src="https://js.stripe.com/v3/"></script>

<% if payment_method.preferred_stripe_intents_flow == 'setup' %>
  <% intent_class = SolidusStripe::SetupIntent %>
  <% return_url = solidus_stripe.setup_confirmation_url(payment_method) %>
<% elsif payment_method.preferred_stripe_intents_flow == 'payment' %>
  <% intent_class = SolidusStripe::PaymentIntent %>
  <% return_url = solidus_stripe.payment_confirmation_url(payment_method) %>
<% else raise 'what the heck!' %>
<% end %>

<%# TODO: See if we can move the intent creation out of the view %>
<% intent = intent_class.retrieve_or_create_stripe_intent(
  payment_method: payment_method,
  order: current_order,
) %>

<div
  class="solidus-stripe-payment"
  data-controller="solidus-stripe-intent"
  data-solidus-stripe-intent-client-secret-value="<%= intent.client_secret %>"
  data-solidus-stripe-intent-publishable-key-value="<%= payment_method.preferred_publishable_key %>"
  data-solidus-stripe-intent-solidus-payment-method-id-value="<%= payment_method.id %>"
  data-solidus-stripe-intent-email-address-value="<%= current_order.email %>"
  data-solidus-stripe-intent-return-url-value="<%= return_url %>"
  data-solidus-stripe-intent-payment-form-selector-value="#checkout_form_payment"
  data-solidus-stripe-intent-flow-value="<%= payment_method.preferred_stripe_intents_flow %>"
  data-action="submit@window->solidus-stripe-intent#handleSubmit"
>
  <div data-solidus-stripe-intent-target="paymentElement">
    <!-- Elements will create form elements here -->
    <em><%= t('solidus_stripe.loading') %></em>
  </div>

  <div data-solidus-stripe-intent-target="message">
    <!-- Display error/notification messages to your customers here -->
  </div>

  <% if payment_method.skip_confirm_step? %>
    <div class="terms_and_conditions">
      <%= render 'checkouts/terms_and_conditions' %>
      <label>
        <%= check_box_tag :accept_terms_and_conditions, 'accepted', false, required: true, id: nil %>
        <%= t('spree.agree_to_terms_of_service') %>
      </label>
    </div>
  <% end %>
</div>
