<% payment_element_options = {
  mode: 'payment',
  amount: SolidusStripe::MoneyToStripeAmountConverter.to_stripe_amount(
    current_order.display_total.money.fractional,
    current_order.currency,
  ),
  currency: current_order.currency.downcase,
  paymentMethodCreation: 'manual',
  # Fully customizable with appearance API.
  # https://stripe.com/docs/elements/appearance-api
  # appearance: {},
} %>

<div
  class="solidus-stripe-payment"
  data-controller="solidus-stripe-intent"
  data-solidus-stripe-intent-publishable-key-value="<%= payment_method.preferred_publishable_key %>"
  data-solidus-stripe-intent-payment-element-options-value="<%= payment_element_options.to_json %>"
  data-solidus-stripe-intent-radio-selector-value="#order_payments_attributes__payment_method_id_<%= payment_method.id %>"
  data-solidus-stripe-intent-submit-selector-value="#checkout_form_payment [type='submit']"
  data-action="submit@window->solidus-stripe-intent#handleSubmit"
>
  <input
    type="hidden"
    name="payment_source[<%= payment_method.id %>][stripe_payment_method_id]"
    value=""
    data-solidus-stripe-intent-target="paymentMethodInput"
  >

  <div data-solidus-stripe-intent-target="paymentElement">
    <!-- Elements will create form elements here -->
    <em><%= t('solidus_stripe.loading') %></em>
  </div>

  <div data-solidus-stripe-intent-target="message">
    <!-- Display error/notification messages to your customers here -->
  </div>
</div>
