<% card = stripe_payment_method.card %>
<%#
  Add credit card logos:
  https://support.stripe.com/questions/where-to-find-logos-for-accepted-credit-card-types
%>
💳 <%= card.brand %>
<span>****&nbsp;****&nbsp;****&nbsp;<%= card.last4 %></span>
(<%= t 'spree.expiration' %>: <%= card.exp_month %>/<%= card.exp_year %>)
