<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey("<%= payment_method.preferred_publishable_key %>");
</script>

<script>
  window.SolidusStripe = window.SolidusStripe || {};
  SolidusStripe.paymentMethod = $('#payment_method_' + <%= payment_method.id %>);
  var mapCC, stripeResponseHandler;

  mapCC = function(ccType) {
    if (ccType === 'MasterCard') {
      return 'mastercard';
    } else if (ccType === 'Visa') {
      return 'visa';
    } else if (ccType === 'American Express') {
      return 'amex';
    } else if (ccType === 'Discover') {
      return 'discover';
    } else if (ccType === 'Diners Club') {
      return 'dinersclub';
    } else if (ccType === 'JCB') {
      return 'jcb';
    }
  };

  stripeResponseHandler = function(status, response) {
    var paymentMethodId, token;
    if (response.error) {
      $('#stripeError').html(response.error.message);
      return $('#stripeError').show();
    } else {
      SolidusStripe.paymentMethod.find('#card_number, #card_expiry, #card_code').prop("disabled", true);
      SolidusStripe.paymentMethod.find(".ccType").prop("disabled", false);
      SolidusStripe.paymentMethod.find(".ccType").val(mapCC(response.card.brand));
      token = response['id'];
      paymentMethodId = SolidusStripe.paymentMethod.prop('id').split("_")[2];
      SolidusStripe.paymentMethod.append("<input type='hidden' class='stripeToken' name='payment_source[" + paymentMethodId + "][gateway_payment_profile_id]' value='" + token + "'/>");
      SolidusStripe.paymentMethod.append("<input type='hidden' class='stripeToken' name='payment_source[" + paymentMethodId + "][last_digits]' value='" + response.card.last4 + "'/>");
      SolidusStripe.paymentMethod.append("<input type='hidden' class='stripeToken' name='payment_source[" + paymentMethodId + "][month]' value='" + response.card.exp_month + "'/>");
      SolidusStripe.paymentMethod.append("<input type='hidden' class='stripeToken' name='payment_source[" + paymentMethodId + "][year]' value='" + response.card.exp_year + "'/>");
      return SolidusStripe.paymentMethod.parents("form").get(0).submit();
    }
  };

  $(document).ready(function() {
    SolidusStripe.paymentMethod.prepend("<div id='stripeError' class='errorExplanation' style='display:none'></div>");
    return $('#checkout_form_payment [data-hook=buttons]').click(function() {
      var expiration, params;
      $('#stripeError').hide();
      if (SolidusStripe.paymentMethod.is(':visible')) {
        expiration = $('.cardExpiry:visible').payment('cardExpiryVal');
        params = $.extend({
          number: $('.cardNumber:visible').val(),
          cvc: $('.cardCode:visible').val(),
          exp_month: expiration.month || 0,
          exp_year: expiration.year || 0
        }, Spree.stripeAdditionalInfo);
        Stripe.card.createToken(params, stripeResponseHandler);
        return false;
      }
    });
  });
</script>

<%- if @order.has_checkout_step?('address') -%>
  <script>
    Spree.stripeAdditionalInfo = {
      name: "<%= SolidusSupport.combined_first_and_last_name_in_address? ? @order.bill_address.name : @order.bill_address.full_name %>",
      address_line1: "<%= @order.bill_address.address1 %>",
      address_line2: "<%= @order.bill_address.address2 %>",
      address_city: "<%= @order.bill_address.city %>",
      address_state: "<%= @order.bill_address.state_text %>",
      address_zip: "<%= @order.bill_address.zipcode %>",
      address_country: "<%= @order.bill_address.country %>"
    }
  </script>
<%- end -%>
